<%-include("partials/header")-%>
<%-include("partials/mainbg")-%>
<div class="container">
<h1>Home page</h1>
<p> <%= homeStartingContent %> </p>

<%posts.forEach(function(post){%>
  <%const title = post.title.toLowerCase()%>
  <%const id = post._id%>
  <h1><%=post.title%></h1>
  <p><%=post.content.substring(0,100) + " ..."%> <a href="/posts/<%= id %>" >Read More</a></p>
<%})%>

<%-include("partials/footer")-%>
